<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="/resources/mirror.css" media="screen" />
        <link rel="shortcut icon" href="/resources/favicon.ico" />
        <title>@@TITLE@@</title>
    </head>
    <body>
        <h1>@@TITLE@@</h1>
        <table id="mirror-site-table" cellpadding="0" cellspacing="0">
            <colgroup>
                <col width="50%"/>
                <col width="25%"/>
                <col width="25%"/>
            </colgroup>
            <thead>
                <tr>
                    <th>镜像名</th>
                    <th>上次更新时间</th>
                    <th>使用帮助</th>
                </tr>
            </thead>
            <tbody>
                {% for ms in mirrorSiteList %}
                    <tr class="odd">
                        {% if ms.isInitialized %}
                            <td><span>ms.id</span></td>
                            <td>N/A</td>
                        {% else %}
                            <td><a href="/{{ ms.id }}">ms.id</a></td>
                            <td>{{ ms.lastUpdateTime}}</td>
                        {% endif %}
                        {% if ms.hasHelp %}
                            <td><span>N/A</span></td>
                        {% else %}
                            <td><a href="/.help/{{ ms.helpFile }}">{{ ms.helpFileTitle }}</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
