[Unit]
Description=mirrors daemon service
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/mirrors

[Install]
WantedBy=multi-user.target
