[Unit]
Description=MyCDN service
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/mycdn-controller

[Install]
WantedBy=multi-user.target
